name: Comment

on:
  workflow_run:
    workflows:
      - Build
    types:
      - completed

jobs:
  comment:
    permissions: write-all
    name: Add codesandbox link comment
    runs-on: ubuntu-latest
    steps:
      - uses: mshick/add-pr-comment@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          message: |
            Test comment
