name: Test Comment

on:
  workflow_run:
    workflows:
      - Publish
    types:
      - completed

jobs:
  add-link:
    runs-on: ubuntu-latest
    if: github.event.workflow_run.conclusion == 'success'
    steps:
      - name: Checkout
        uses: actions/checkout@master

      - name: Get PR number
        run: |
          echo "PR=$(cat env | grep "prev.event.number" | awk -F '=' '{print $2}')" >> $GITHUB_ENV
          echo "BUILD_URL=$(echo ${{ github.repository }} | sed -r 's/\//\.github\.io\//g')" >> $GITHUB_ENV

      - name: Comment PR
        uses: thollander/actions-comment-pull-request@v2
        with:
          message: |
            Тестовый комментарий
          pr_number: ${{ env.PR }}
